.mainBody {
    padding-top: 10px;
    color: rgb(6, 179, 205);
    text-align: center;
}

.radio,
.serch,
.btn {
    margin: 10px;
}

.btn,
.radio {
    cursor: pointer;
    background-color: rgb(6, 179, 205);
}

.btn {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;

}

.outsideLogo{
    display: flex;
    justify-content: center;

}
.logoBox{
    display: flex;
    padding: 0px 5px;
    background-color: rgb(6, 179, 205);
    align-items: center;
    max-width: 60%;  
    border-radius: 10px; 
    margin: 2% 25%; 
} 
.serch{
    font-weight: bold;
    text-align: center;
    background-color: rgb(6, 179, 205);
    font-size: 25px;
    border: none;
    border-style: none;
    max-width: 80%;
    border-color: rgb(6, 179, 205);
    outline: none;
    align-items: center;
    justify-content: center;
}
.serchLogo{
    background-color: rgb(6, 179, 205);
    height: 25px;
    width: 25px;
    border-radius: 10px;
    margin-left: 5px;
}
